## Triple Barrier Method

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
from alphapy.globals import BarType
from alphapy.metalabel import get_daily_dollar_vol
from alphapy.variables import map_bar_type

In [3]:
stock = 'TSLA'
stock_info = yf.Ticker(stock)

In [4]:
data_history = 500
fractal = 'd'
period = ''.join([str(data_history), fractal])
period

'500d'

In [5]:

df = stock_info.history(period=period)

In [6]:
df.reset_index(inplace=True)
df.columns = map(str.lower, df.columns)
df.rename(columns={'date' : 'datetime'}, inplace=True)
df = df[['datetime', 'open', 'high', 'low', 'close', 'volume']]

In [7]:
df

      datetime        open        high         low       close     volume
0   2020-12-16  209.410004  210.833328  201.666672  207.589996  126287400
1   2020-12-17  209.396667  219.606674  206.500000  218.633331  168810300
2   2020-12-18  222.966660  231.666672  209.513336  231.666672  666378600
3   2020-12-21  222.080002  222.833328  215.356674  216.619995  174135900
4   2020-12-22  216.000000  216.626663  204.743332  213.446671  155148000
..         ...         ...         ...         ...         ...        ...
495 2022-12-05  189.440002  191.270004  180.550003  182.449997   93122700
496 2022-12-06  181.220001  183.649994  175.330002  179.820007   92150800
497 2022-12-07  175.029999  179.380005  172.220001  174.039993   84213300
498 2022-12-08  172.199997  175.199997  169.059998  173.440002   97624500
499 2022-12-09  173.839996  182.500000  173.360001  179.050003  104746600

[500 rows x 6 columns]

In [8]:
ddv = get_daily_dollar_vol(df)
ddv

18617418835.136395

In [9]:
dollar_bars = map_bar_type(df, BarType.dollar, '1D', pv_factor=2.0)

37234837670.27279